.controlsize {
  height: fit-content;
}
.controlsize .map {
  height: 82vh;
}

div button.gm-control-active {
  border-radius: 12px;
}
@media (max-width: 800px) {
  .controlsize .map {
    height: 50vh;
  }
  .card-image {
    width: 100%;
  }
}
